<%@include file="/pages/includes/header.jsp" %>
<%@include file="/pages/includes/taglib.jsp"%>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td>
					<bean:message bundle="${module}" key="${module.toUpperCase()}.${bean.name}Menu.PageTitle"/>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<DIV class=mattblackmenu id=ddtopmenubar>
<UL>
  <LI><A href="index.jsp"><bean:message bundle="${module}" key="${module.toUpperCase()}.${bean.name}Menu.HomeLink"/></A> 
  <LI><A href="<%=request.getContextPath()%>/dashboard${bean.className}.do?webaction=dashboard"><bean:message bundle="${module}" key="${module.toUpperCase()}.${bean.name}Menu.DashBoardLink"/></A>
  <LI><A href="<%=request.getContextPath()%>/list${bean.className}.do?webaction=list"><bean:message bundle="${module}" key="${module.toUpperCase()}.${bean.name}Menu.SearchLink"/></A> 
  <LI><A href="<%=request.getContextPath()%>/report${bean.className}.do?webaction=reports"  rel=ddsubmenu1><bean:message bundle="${module}" key="${module.toUpperCase()}.${bean.name}Menu.ReportLink"/></A>
  <LI><A href="#"><bean:message bundle="${module}" key="${module.toUpperCase()}.${bean.name}Menu.HelpLink"/></A>  
</LI>
</UL>
</DIV>
<UL class=ddsubmenustyle id=ddsubmenu1>
  <LI><A href="#"><bean:message bundle="${module}" key="${module.toUpperCase()}.${bean.name}Menu.ReportLink1"/></A> 
  <LI><A href="#"><bean:message bundle="${module}" key="${module.toUpperCase()}.${bean.name}Menu.ReportLink2"/></A> 
  <LI><A href="#"><bean:message bundle="${module}" key="${module.toUpperCase()}.${bean.name}Menu.ReportLink3"/></A>
  <LI><A href="#"><bean:message bundle="${module}" key="${module.toUpperCase()}.${bean.name}Menu.ReportLink4"/></A> </LI>
  <LI><A href="#"><bean:message bundle="${module}" key="${module.toUpperCase()}.${bean.name}Menu.ReportLink5"/></A> 
  <UL>
    <LI><A href="#"><bean:message bundle="${module}" key="${module.toUpperCase()}.${bean.name}Menu.ReportLink5.1"/></A> 
    <LI><A href="#"><bean:message bundle="${module}" key="${module.toUpperCase()}.${bean.name}Menu.ReportLink5.2"/></A> 
	<LI><A href="#"><bean:message bundle="${module}" key="${module.toUpperCase()}.${bean.name}Menu.ReportLink5.3"/></A>    
    </LI>
    </UL>
</UL>
