<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
#foreach ($bean in $beans)
	<bean name="/${bean.name}Action" class="${package}.${bean.name}Action">
		<property name="${bean.name}Service">
			<ref bean="${bean.name}Service" />
		</property>
	</bean>
#end	
</beans>